{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div class="container-fluid" style="background-image:url('../static/images/su1.jpeg'); background-repeat:no-repeat;background-size: cover; height:600px; text-align:center;">
    <div class="row col-md-3" style="margin-left:430px;margin-top:50px; color:white;" >
    
{% for message in get_flashed_messages() %}
<div class="alert alert-danger">
    <button type="button" class ="close" data-dismiss="alert">&times:<button>
        {{message}}
</div>
{% endfor %}

<!-- login form -->
    {{wtf.quick_form(login_form)}}
    <br>
    <br>
    <p>Don't have an account?</p>
    <br>
    <br>
    <button class="btn" ><a href="{{url_for('auth.register')}}" style="font-size:22px;" >Sign up here!</a>

</div>
</div>
{% endblock %}