{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf %}{% block styles %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}

<!-- Content block -->
{% block content %}
<div class="container-fluid" style="height: 600px;">
    <p style="color: white;">Hello dable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes
        on purpose (injected humour and the like).

    </p>
</div> {% endblock %}